#containercelular{
position: absolute;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Pixel_2_XL_front.svg/330px-Pixel_2_XL_front.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail&_=20250204005637);
background-repeat: no-repeat;
width: 328px;
height: 669px; 
margin: 0;
padding: 0; 
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#containertela{
background-color: transparent;
position: absolute;
width: 290px;
height: 580px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 5%;
}
#hotbarUP{
position: absolute;
background-color: rgb(0, 0, 0);
top: -1px;
width: 100%;
height: 35%;
}

#tela{
    position: absolute;
    width: 100%;
    height: 65%;
    top: 35%;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.slideshow-container{
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 20px; 
    scroll-snap-type: x mandatory;
    gap: 15px;
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;
}

.f{
    flex: 0 0 85%; 
    height: 80%; 
    background-color: #222;
    border-radius: 15px;
    scroll-snap-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
}

#f1{
background-image: url(/icons2/image.jpg);
background-repeat: no-repeat;
}
#f2{
background-image: url(/icons2/image2.webp);
background-repeat: no-repeat;
}
#f3{
background-image: url(/icons2/image3.webp);
background-repeat: no-repeat;

}
#f4{
background-image: url(/icons2/image4.jpg);
background-repeat: no-repeat;
}
#f5{
background-image: url(/icons2/image5.jpg);
background-repeat: no-repeat;
}
#f6{
background-image: url(/icons2/image6.webp);
background-repeat: no-repeat;
}
#f7{
background-image: url(/icons2/image7.jpg);
background-repeat: no-repeat;
}
#f8{
background-image: url(/icons2/image8.jpg);
background-repeat: no-repeat;
}
#f9{
background-image: url(/icons2/image9.jpg);
background-repeat: no-repeat;
}
#f10{
background-image: url(/icons2/image10.webp);
background-repeat: no-repeat;
}
#f11{
background-image: url(/icons2/image11.webp);
background-repeat: no-repeat;
}
#f12{
background-image: url(/icons2/image12.webp);
background-repeat: no-repeat;
}
#f13{
background-image: url(/icons2/image13.jpg);
background-repeat: no-repeat;
}
#f14{
background-image: url(/icons2/image14.jpg);
background-repeat: no-repeat;
}
#f15{
background-image: url(/icons2/image15.jpg);
background-repeat: no-repeat;
background-size: 85px;
}
#f16{
background-image: url(/icons2/image9.jpg);
background-repeat: no-repeat;
background-size: 110px;
}
#f17{
background-image: url(/icons2/image17.jpg);
background-repeat: no-repeat;
background-size: 100px;
}
#f18{
background-image: url(/icons2/image.jpg);
background-repeat: no-repeat;
background-size: 85px;
}
#f19{
background-image: url(/icons2/image18.webp);
background-repeat: no-repeat;
background-size: 100px;
}
#f20{
background-image: url(/icons2/image15.jpg);
background-repeat: no-repeat;
background-size: 85px;
}

#bateria{
position: absolute;
width: 100%;
height: 13%;
top: 1px;
background-color: transparent;
background-image: url(/icons2/bateria.png);
background-size: 299px;
background-repeat: no-repeat;
}
#fotof1{
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
width: 70px;
height: 70px;
border-radius: 20%;
background-color: transparent;
background-image: url(/icons/image5.png);
background-repeat: no-repeat;
background-size: 100px;

}
#pastamovimento{
position: absolute;
top: 80px;
left: 30px;
font-size: 27px;
color: white;
}
#parimagens{
position: absolute;
top: 123px;
left: 105px;
color: gray;
font-size: 17px;
}
#voltar{
position: absolute;
width: 30px;
height: 30px;
background-color: transparent;
top: 165px;
left: 10px;
background-image: url(/icons/image10.png);
background-repeat: no-repeat;
background-size: 10px;
background-position: 5px;
}

#aleatorio1{
position: absolute;
width: 30px;
height: 30px;
background-color: transparent;
top: 165px;
left: 220px;
background-image: url(/icons/lupa.png);
background-repeat: no-repeat;
background-size: 30px;
background-position: 0px 2px;

}
#aleatorio2{
position: absolute;
width: 30px;
height: 30px;
background-color: transparent;
top: 165px;
left: 255px;
background-image: url(/icons/botaotrespontos.png);
background-repeat: no-repeat;
background-size: 5px;
background-position: 12px 6px;
cursor: pointer;
}

.popup{
display: flex;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
justify-content: center;
align-items: center;
opacity: 1;
pointer-events: all;
transition: 0.3s;
z-index: 999;
position: absolute;
}
 
.disable{
opacity: 0;
pointer-events: none;
}
 
.popup-box{
width: 200px;
padding: 20px;
background-color: black;
border-radius: 15px;
display: flex;
flex-direction: column;
gap: 15px;
margin-left:22px;
margin-top: 100px;
font-family: Arial;
}

.popup-box h4{
margin: 0;
text-align: center;
color: white;
}
 
.popup-box input{
height: 30px;
border-radius: 8px;
border: 1px solid gray;
padding-left: 10px;
font-size: 16px;
}
 
.popup-botoes{
display: flex;
justify-content: space-between;
}
 
.popup-botoes button{
width: 45%;
height: 30px;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 15px;
}